.social-proof {
  display: grid;
  margin-top: 15vh;
  grid-template-areas:
    'title-container'
    'ratings-container'
    'reviews-container';
  row-gap: 5vh;
  .title-container {
    grid-area: title-container;
  }
  .ratings-container {
    grid-area: ratings-container;
  }
  .reviews-container {
    margin-bottom: 5vh;
    grid-area: reviews-container;
  }
}

@media only screen and (min-width: 800px) {
  .social-proof {
    grid-template-areas:
      'title-container ratings-container'
      'reviews-container reviews-container';
    grid-template-columns: 1fr 1fr;
  }

  .title-container {
    h1 {
      width: 65%;
    }
    p {
      width: 80%;
    }
  }
}
